{"extends": "airbnb-base",
"rules": {
        "no-console": "off",
        "import/extensions": [
        "error",
        "ignorePackages",
        {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
        }
    ]
    }
}